body {
    margin: 0;
    line-height: normal;
    width: 100%;
    position: relative;
    background-color: #121c24;
    height: auto;
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--font-noto-serif);
    align-content: space-around;
    flex-wrap: nowrap;
}
header {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: auto;
    border-bottom: 2px solid #e5e8eb;
    box-sizing: border-box;
    text-align: center;
    
    align-items: center;
    justify-content: space-between;
    align-content: center;
    padding: 0 50px;
    
    font-size: var(--font-size-xl);
    color: var(--color-whitesmoke);
    font-family: var(--font-noto-serif);
}

main {
    width: 60%;
    position: fixed;
}

aside {
    position: fixed;
    top: 79px;
    left: 0;
    width: 320px;
    height: 952px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 21px 0;
}

:root {
    /* fonts */
    --font-noto-serif: "Noto Serif";
  
    /* font sizes */
    --font-size-xl: 20px;
    --font-size-base: 16px;
    --font-size-lg: 18px;
  
    /* Colors */
    --color-gray-100: rgba(255, 255, 255, 0.8);
    --color-white: #fff;
    --color-darkslategray: #29384d;
    --color-goldenrod: #f5c754;
    --color-whitesmoke: #f7fafa;
  
    /* Gaps */
    --gap-2xl: 21px;
    --gap-0: 0px;
    --gap-10xs: 3px;
    --gap-mini: 15px;
  
    /* Paddings */
    --padding-2xl: 21%;
  
    /* Border radiuses */
    --br-8xs: 5px;
}
  