html, body {
    height: 100%;
}

body {
    background-color: var(--color-background);
    font-family: var(--font-noto-serif);
    color: var(--color-text);
    min-width: 320px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

main.main{
    flex: 1 1 auto;
}

.row {
    padding: 15px 20px;
    font-size: var(--font-size-xl);
    height: 100%;
}

.header-button-create {
    cursor: pointer;
    border: 0;
    border-radius: var(--br-5xs);
    background-color: var(--color-active-button);
    width: auto;
    height: 30px;
    text-align: center;
    font-size: var(--font-size-base);
}

.header-button-exit {
    cursor: pointer;
    border: 0;
    border-radius: var(--br-5xs);
    background-color: var(--color-button);
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: var(--font-size-base);
    color: var(--color-text);
}

h1 {
    font-size: var(--font-size-xl) !important;
}

input{
    color: var(--color-text);
    background: none;
    border: none;  
}

input::placeholder{
    color: var(--color-whitesmoke);
    font-weight: 600;
    opacity: 80%;
}

textarea{
    color: var(--color-text);
    background: none;
    border: none;
}

textarea::placeholder{
    color: var(--color-whitesmoke);
    font-weight: 600;
    opacity: 80%;
}

/* ================================================================= */

:root {
    /* fonts */
    --font-noto-serif: "Noto Serif";
  
    /* font sizes */
    --font-size-xl: 20px;
    --font-size-base: 16px;
    --font-size-lg: 18px;
  
    /* Colors */
    --color-gray-100: rgba(255, 255, 255, 0.8);
    --color-text: #fff;
    --color-button: #29384d;
    --color-active-button: #f5c754;
    --color-whitesmoke: #f7fafa;
    --color-background: #121C24;
  
    /* Gaps */
    --gap-2xl: 21px;
    --gap-0: 0px;
    --gap-10xs: 3px;
    --gap-mini: 15px;
  
    /* Paddings */
    --padding-2xl: 21%;
  
    /* Border radiuses */
    --br-5xs: 5px;
}

@viewport {
    width: 100%;
    zoom: 1;
    max-zoom: 2;
}
